<div class="container mt-4">

    <div class="row">
      <div class="col-12">
        <h1>Create a new cocktail</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

</div>

